:root {
    --color-green: #0be151;
    --color-yellow: #ffff00;
    --color-red: #d38072;
    --color-purple: #d189e5;
}

@font-face {
    font-family: "TF2";
    src: url("../fonts/tf2.ttf") format("truetype");
}

@font-face {
    font-family: "TF2 Build";
    src: url("../fonts/TF2_Build.ttf") format("truetype");
}

@font-face {
    font-family: "TF2 Secondary";
    src: url("../fonts/TF2_Secondary.ttf") format("truetype");
}

@font-face {
    font-family: "TF2 Professor";
    src: url("../fonts/TF2_Professor.ttf") format("truetype");
}

@font-face {
    font-family: "Calibri";
    src: url("../fonts/Calibri_Regular.ttf") format("truetype");
}

body {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: "Arial", sans-serif;
}

.loading {
    background-image: url(../images/spinner.svg);
    background-position: center center;
    background-size: 30px 30px;
    background-repeat: no-repeat;
}

.loading_indicator {
    width: 100%;
    height: 50px;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1100px;
    background: #363636;
}

.root {
    position: fixed;
    background: url(../images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    width: 100%;
    height: 100%;
    overflow: auto;
}

a {
    color: #fff;
    text-decoration: underline;
}

.header {
    background: #363636;
    height: 80px;
}

.flex {
    display: flex;
}

.shadow {
    box-shadow: 0px 0px 10px #000;
}

.main_container {
    margin-top: 100px;
    min-height: 100px;
}

.circled {
    border-radius: 10px;
}

.buttons_container {
    background: #473e3e;
}

.servers_container {
    margin-top: 40px;
    margin-bottom: 80px;
}

.logotype, .logotype img {
    height: 60px;
}

.logotype {
    padding: 10px 0;
}

.header_navigation {
    margin-left: 20px;
}

.header_navigation ul {
    padding: 0;
    list-style: none;
    margin: 0;
}

.header_navigation li {
    float: left;
    color: #fff;
    font-family: "TF2 Secondary", sans-serif;
    font-size: 18px;
    line-height: 80px;
    padding: 0 10px;
    transition: color .1s ease, background .1s ease;
}

.header_navigation li:hover {
    color: #ddd;
    background: #292929;
}

.btn_big {
    height: 40px;
    width: 100%;
    font-family: "TF2 Secondary", sans-serif;
    border-radius: 5px;
    text-align: center;
    border: 2px solid transparent;
    cursor: pointer;
    box-sizing: border-box;
    padding: 10px 15px;
    transition: background .2s ease, color .2s ease;
}

.btn_yellow {
    margin-right: 20px;
    border-color: var(--color-yellow);
}

.btn_green {
    border-color: var(--color-green);
}

.btn_big.btn_yellow:hover {
    background: var(--color-yellow);
    color: #000;
}

.btn_big.btn_green:hover {
    background: var(--color-green);
    color: #000;
}

.btn_container {
    padding: 30px 60px 0;
}

.serverlist_header {
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
    padding: 20px 0;
}

.serverlist {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 5px;
}

.serverlist th {
    font-size: 14px;
}

.serverlist td {
    padding: 5px 5px;
    text-align: center;
    background: #4a4a4a;
    font-size: 15px;
    font-family: "Calibri", sans-serif;
}

.serverlist td:first-child {
    border-radius: 4px 0 0 4px;
    padding-left: 20px;
}

.serverlist td:last-child {
    border-radius: 0 4px 4px 0;
    padding-right: 20px;
}

.servers_container {
    box-sizing: border-box;
    padding: 0 30px 30px;
}

.serverlist img {
    height: 20px;
    margin: 0 5px -5px;
}

.serverlist_header {
    margin-top: 30px;
}

.credits {
    font-size: 15px;
    text-align: center;
    margin-top: 30px;
}

.serverlist a {
    text-decoration: none;
}

.btn_connect {
    border: 1px solid #fff;
    padding: 4px;
    border-radius: 6px;
    cursor: pointer;
    transition: background .2s ease, color .2s ease;
}

.btn_connect:hover {
    background: white;
    color: #000;
}

@media only screen and (max-width: 880px) {
    .btn_container {
        display: block;
        padding: 20px;
    }

    .btn_big {
        height: auto;
        line-height: 20px;
    }

    .btn_yellow {
        margin: 0 0 10px;
    }
}

@media only screen and (max-width: 670px) {
    .serverlist tr {
        display: block;
        margin-bottom: 5px;
    }

    .serverlist td {
        display: block;
        box-sizing: border-box;
    }

    .serverlist td,
    .serverlist td:first-child,
    .serverlist td:last-child {
        padding: 5px 10px;
    }

    .serverlist th {
        display: none;
    }

    .logotype {
        width: 100%;
    }

    .header {
        height: auto;
    }

    .header_container {
        display: block;
        height: auto;
    }

    .logotype {
        text-align: center;
    }

    .header_navigation ul {
        margin: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .header_navigation li {
        width: 100%;
        padding: 20px 0 20px;
        line-height: 18px;
        text-align: center;
    }
}
